#kde43Counter {
	width: 468px;
	height: 60px;
}

#kde43Counter ul {
	width: 468px;
	height: 60px;
}

#kde43Counter ul li {
	width: 468px;
	height: 60px;
}

#kde43DescriptionWrapper {
	margin-top: 45px;
	height: 15px;
	width: 468px;
}

#kde43Description {
}

#kde43Next {
}

#kde43Overlay {
	width: 468px;
	height: 60px;
	background-image: url('Overlay.png');
}