<table cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="./pics/gallery/top_left.png" alt="" width="36" height="36" />
		</td>
		<td class="BlueBox_top_center">
		</td>
		<td>
			<img src="./pics/gallery/top_right.png" alt="" width="36" height="36"  />
		</td>
	</tr>
	<tr>
		<td class="BlueBox_left">
		</td>
		<td class="BlueBox_back">
			___HTML___
		</td>
		<td class="BlueBox_right">
		</td>
	</tr>
	<tr>
		<td>
			<img src="./pics/gallery/bottom_left.png" alt="" width="36" height="36"  />
		</td>
		<td class="BlueBox_bottom_center">
		</td>
		<td>
			<img src="./pics/gallery/bottom_right.png" alt="" width="36" height="36"  />
		</td>
	</tr>
</table>