
.menu-box{
	width: 10px;
	content: hidden;
	float: left;
}

.BlueBox_top_center{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/top_center.png');
	background-repeat:repeat-x;
}

.BlueBox_left{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/left.png');
	background-repeat:repeat-y;
}

.BlueBox_back{
	background-color: #00316e;
	color:#fff;
}

.BlueBox_back a, .BlueBox_back a:hover, .BlueBox_back a:visited {color:#bfdcff;}

.BlueBox_right{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/right.png');
	background-repeat:repeat-y;
}

.BlueBox_bottom_center{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/bottom_center.png');
	background-repeat:repeat-x;
}
 
.ImageGal_title_back{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/title_back.png');
	height:41px;width:240px;
}

.ImageGal_icon_back{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/icon_back.png');
	height:50px;
	width:50px;
	float:left;
}

.ImageGal_top3_center{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/top3_center.png');
	background-repeat:repeat-x;
}

.ImageGal_left3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/left3.png');
	background-repeat:repeat-y;
}

.ImageGal_center3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/center3.png');
}

.ImageGal_right3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/right3.png');
	background-repeat:repeat-y;
}

.ImageGal_bottom3_center{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/gallery/bottom3_center.png');
	background-repeat:repeat-x;
}

.Home_header{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/header.png');
	background-repeat:no-repeat;
}

.Home_back{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='./pics/back.png');
	background-repeat:no-repeat;
	padding:10PX;
}

.section {
	background-image: url('./pics/header.png');
	background-repeat: no-repeat;
	padding: 10px;
	padding-bottom: 0px;
}

a.ImageGal_title, a.ImageGal_title:hover, a.ImageGal_title:visited {
	color:#fff;
	text-decoration:none;
	font-size:large;
}