<table>
	<tr>
		<td  valign="top" style="width:261px;color:#fff;">
				<div class="ImageGal_title_back">
					<div class="ImageGal_icon_back">
						<a href="___HREF___">
							<img src="___ICON_SRC___" width="48" height="48" alt="___NAME___"/>
						</a>
					</div>
					<a class="ImageGal_title" href="___HREF___">
						&#160;___NAME___
					</a>
				</div>
			<br />
				<a style="color:#fff; text-decoration:none;" href="___HREF___">
					___DESCRIPTION___
				</a>
		</td>
		<td valign="top">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<img src="./pics/gallery/top3_left.png" alt="" width="12" height="9"  />
					</td>
					<td class="ImageGal_top3_center">
					</td>
					<td>
						<img src="./pics/gallery/top3_right.png" alt="" width="10" height="9"  />
					</td>
				</tr>
				<tr>
					<td class="ImageGal_left3">
					</td>
					<td class="ImageGal_center3">
						<a href="___HREF___">
							<img src="___IMAGE_SRC___" alt="___NAME___" width="___IMAGE_WIDTH___" height="___IMAGE_HEIGHT___"  />
						</a>
					</td>
					<td class="ImageGal_right3">
					</td>
				</tr>
				<tr>
					<td>
						<img src="./pics/gallery/bottom3_left.png"  alt="" width="12" height="16" />
					</td>
					<td class="ImageGal_bottom3_center">
					</td>
					<td>
						<img src="./pics/gallery/bottom3_right.png" alt="" width="10" height="16"  />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>