#container {
	background-image: url(pics/shadow.png);
	background-position: 0px 72px;
	background-repeat: repeat-x;
}

#header_bottom {
	background-image: url(pics/shine.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

#footer, #footer_text{
	background-image: url(pics/shadow.png);
	background-position: top left;
	background-repeat: repeat-x;
}

.BlueBox_top_center{
	background-image: url('./pics/gallery/top_center.png');
	background-repeat:repeat-x;
}

.BlueBox_left{
	background-image: url('./pics/gallery/left.png');
	background-repeat:repeat-y;
}

.BlueBox_back{
	background-color: #00316e;
	color:#fff;
	background-image: url('pics/back.png');
	background-repeat:no-repeat;
}

.BlueBox_back a, .BlueBox_back a:hover, .BlueBox_back a:visited {color:#bfdcff;}

.BlueBox_right{
	background-image: url('./pics/gallery/right.png');
	background-repeat:repeat-y;
}

.BlueBox_bottom_center{
	background-image: url('./pics/gallery/bottom_center.png');
	background-repeat:repeat-x;
}

.ImageGal_title_back{
	background-image: url('./pics/gallery/title_back.png');
	height:41px;width:240px;
}

.ImageGal_icon_back{
	background-image: url('./pics/gallery/icon_back.png');
	height:50px;
	width:50px;
	float:left;
}

.ImageGal_top3_center{
	background-image: url('./pics/gallery/top3_center.png');
	background-repeat:repeat-x;
}

.ImageGal_left3{
	background-image: url('./pics/gallery/left3.png');
	background-repeat:repeat-y;
}

.ImageGal_right3{
	background-image: url('./pics/gallery/right3.png');
	background-repeat:repeat-y;
}

.ImageGal_bottom3_center{
	background-image: url('./pics/gallery/bottom3_center.png');
	background-repeat:repeat-x;
} 

.Home_header{
	background-image: url('./pics/header.png');
	background-repeat:no-repeat;
}

.Home_back{
	background-image: url('./pics/back.png');
	background-repeat:no-repeat;
	padding:10PX;
}

.section {
	background-image: url('./pics/header.png');
	background-repeat: no-repeat;
	padding: 10px;
	padding-bottom: 0px;
}

a.ImageGal_title, a.ImageGal_title:hover, a.ImageGal_title:visited {
	color:#fff;
	text-decoration:none;
	font-size:x-large;
}