#kde43Counter {
	width: 125px;
	height: 125px;
}

#kde43Counter ul {
	width: 125px;
	height: 125px;
}

#kde43Counter ul li {
	width: 125px;
	height: 125px;
}

#kde43DescriptionWrapper {
	margin-top: 110px;
	height: 15px;
	width: 125px;
}

#kde43Description {
	padding-right:5px;
	text-align:right;
}

#kde43Next {
}

#kde43Overlay {
	width: 125px;
	height: 125px;
	background-image: url('Overlay.png');
}